* {
    margin: 0;
    padding: 0;
}

#backImage-header {
    background-image: url(assets/images/banner-bk.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 33rem;
}

header {
    height: 33rem;
}

.icon-anchor {
    justify-content: space-between;
    display: flex;
    padding: 3rem;
    align-items: center;
}

.icon-anchor > img {
    height: 3rem;
}

.icon-anchor > a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    text-decoration: none;
    color: white;
}

.title-introduction {
    padding: 3rem;
    justify-content: center;
}

.title-introduction > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: white;
    font-weight: bold;
}

.title-introduction > p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    color: white;
}

.button-header {
    padding: 3rem;
}

.button-header > a {
    background-color: rgb(25, 223, 170);
    height: 3rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 2rem;
}

.subtitle1 {
    justify-content: center;
    text-align: center;
    font-size: larger;
    color: black;
    margin-top: 3.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.information {
    display: flex;
    justify-content: space-between;
    margin: 7rem;
    margin-top: 3rem;
}

.container > img{
    height: 8.5rem;
    display: flex;
    justify-content: space-around;
    padding-left: 7rem;
    padding-right: 7rem;
}

.title-text > h3 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 0.5rem;
}

.title-text > p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}

.learn {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    background-color: aquamarine;
    margin-bottom: 5rem;
}

.web-information {
    margin: 5rem;
    align-content: center;
}

.web-information > h2 {
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 0.8rem;
}

.web-information > p {
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 3rem;
}

.web-information > a {
    text-decoration: none;
    color: white;
    border: 1rem;
    background-color: rgb(13, 13, 97);
    padding: 1rem;
    border-radius: 3rem;
}

.information-inside > img{
    height: 15rem;
    padding-left: 7.5rem;
    align-content: center;
    margin-bottom: 3rem;
}

.information-reliable > img {
    height: 15rem;
    margin-left: 5rem;
    align-content: center;
    margin-top: 2rem;
}

.get-plan {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.title-plan > h2{
    text-align: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 5rem;
}

.information-plan {
    justify-content: space-around;
    display: flex;
}











#backImage-contact {
    background-image: url(assets/images/contact-bk.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.contact-backImage {
    height: 30rem;
}


footer {

}